{% extends "HOSPITAL/hospital_base_layout.html" %}
{% block title %}Manage Virtual Queue{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Manage Virtual Queue for {{ hospital.name }}</h1>
    </div>
    <div id="loader" class="loader" style="display: none;">
        <div class="loader-content">
            Loading...
        </div>
    </div>
    <div class="container mt-4">
        <!-- Filters for Date, Doctor, and Time Slot Selection -->
        <div class="card p-3 mb-4">
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <label for="date" class="font-weight-bold">Date:</label>
                    <input type="date" id="dateInput" value="{{ selected_date }}" class="form-control" onchange="checkFormValidity()">
                </div>
                <div class="form-group">
                    <label for="doctor_id" class="font-weight-bold">Doctor:</label>
                    <select id="doctorSelect" class="form-control" onchange="fetchTimeSlots(); checkFormValidity()">
                        <option value="">Select Doctor</option>
                        {% for doctor in doctors %}
                        <option value="{{ doctor.id }}" {% if doctor.id == selected_doctor %}selected{% endif %}>{{ doctor.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="time_slot" class="font-weight-bold">Time Slot:</label>
                    <select id="timeSlotSelect" class="form-control" onchange="checkFormValidity()">
                        <option value="">Select Time Slot</option>
                        {% for slot in time_slots %}
                        <option value="{{ slot }}" {% if slot == selected_time_slot %}selected{% endif %}>{{ slot }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Centered Show Patients Button -->
            <button id="showPatientsBtn" class="btn btn-primary mt-3 d-block mx-auto" disabled onclick="fetchCheckedInPatients()">Show Patients</button>
        </div>

        <!-- Table for Showing Checked-In Patients -->
        <div class="card mt-4">
            <div class="card-body"><br>
                <h3>Checked-In Patients</h3>
                <div id="patientTableWrapper" class="table-responsive">
                    <table class="table table-bordered table-striped mt-3" id="patientTable">
                        <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Patient Name</th>
                                <th>Age</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="patientList">
                            <!-- Checked-in patients will be dynamically populated here -->
                        </tbody>
                    </table>
                </div>
                <button id="createQueueBtn" class="btn btn-success mt-4" style="display:none;" onclick="createQueue()">Create Queue</button>
                <div id="queueExistsMessage" class="alert alert-info mt-4" style="display:none;">Queue Already Created</div>
            </div>
        </div>

        <!-- Queue Visualization -->
        <div class="card mt-4">
            <div class="card-body"><br>
                <h3>Queue Visualization</h3>
                <div id="queueVisualization" class="d-flex flex-wrap mt-3">
                    <!-- Patient circles in queue will be rendered here -->
                </div>
            </div>
        </div>
    </div>



    
    <div class="card mt-4" id="registrationCard" style="display: none;">
        <div class="card-body"><br>
            <h3>On-Site Registration</h3>
            <form id="registrationForm" onsubmit="registerPatient(event)">
                <div class="form-group">
                    <label for="patientName">Patient Name:</label>
                    <input type="text" id="patientName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="patientAge">Patient Age:</label>
                    <input type="number" id="patientAge" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="patientEmail">Patient Email:</label>
                    <input type="email" id="patientEmail" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Register Patient</button>
            </form>
        </div>
    </div>
    

</main>

<script>
 function showLoader() {
    document.getElementById('loader').style.display = 'flex';
    document.getElementById('loader').classList.add('loader-active');
}

function hideLoader() {
    document.getElementById('loader').style.display = 'none';
    document.getElementById('loader').classList.remove('loader-active');
}

function fetchMaxQueueNumber(date, doctorId, timeSlot) {
    return fetch(`/get_max_queue_number_opd?date=${date}&doctor_id=${doctorId}&time_slot=${timeSlot}`)
        .then(response => response.json())
        .then(data => data.max_queue_number)
        .catch(error => {
            console.error('Error fetching max queue number:', error);
            return 0;
        });
}

function fetchTimeSlots() {
    const doctorId = document.querySelector('#doctorSelect').value;
    const date = document.querySelector('#dateInput').value;

    if (doctorId && date) {
        showLoader();
        fetch(`/get_time_slots_opd/${doctorId}?date=${date}`)
            .then(response => response.json())
            .then(data => {
                const timeSlotSelect = document.getElementById('timeSlotSelect');
                timeSlotSelect.innerHTML = '<option value="">Select Time Slot</option>';
                data.time_slots.forEach(slot => {
                    const option = document.createElement('option');
                    option.value = slot;
                    option.textContent = slot;
                    timeSlotSelect.appendChild(option);
                });
                hideLoader();
            })
            .catch(error => {
                console.error('Error fetching time slots:', error);
                hideLoader();
            });
    }
}

function checkFormValidity() {
    const date = document.getElementById('dateInput').value;
    const doctorId = document.getElementById('doctorSelect').value;
    const timeSlot = document.getElementById('timeSlotSelect').value;

    document.getElementById('showPatientsBtn').disabled = !(date && doctorId && timeSlot);
}

function fetchCheckedInPatients() {
    showLoader();
    const date = document.getElementById('dateInput').value;
    const doctorId = document.getElementById('doctorSelect').value;
    const timeSlot = document.getElementById('timeSlotSelect').value;

    fetch(`/fetch_checked_in_patients?date=${date}&doctor_id=${doctorId}&time_slot=${timeSlot}`)
        .then(response => response.json())
        .then(data => {
            const patientList = document.getElementById('patientList');
            patientList.innerHTML = '';

            const existingQueue = data.existingQueue;
            if (existingQueue && existingQueue.length > 0) {
                document.getElementById('createQueueBtn').style.display = 'none';
                document.getElementById('queueExistsMessage').style.display = 'block';
                renderQueue(existingQueue);
                if (data.existingQueue && data.existingQueue.length > 0) {
                    document.getElementById('registrationCard').style.display = 'block';
                }
            } else {
                document.getElementById('createQueueBtn').style.display = 'block';
                document.getElementById('queueExistsMessage').style.display = 'none';
            }

            if (data.patients && data.patients.length > 0) {
                data.patients.forEach((patient, index) => {
                    const row = `<tr>
                        <td>${index + 1}</td>
                        <td>${patient.name}</td>
                        <td>${patient.age}</td>
                        <td>${patient.status}</td>
                    </tr>`;
                    patientList.innerHTML += row;
                });
            } else {
                patientList.innerHTML = '<tr><td colspan="4" class="text-center">No checked-in patients found.</td></tr>';
            }

            hideLoader();
        });
}

function createQueue() {
    showLoader();
    const date = document.getElementById('dateInput').value;
    const doctorId = document.getElementById('doctorSelect').value;
    const timeSlot = document.getElementById('timeSlotSelect').value;

    fetch(`/create_opd_queue`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ date, doctor_id: doctorId, time_slot: timeSlot })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            renderQueue(data.queue);
            document.getElementById('registrationCard').style.display = 'block';
            document.getElementById('createQueueBtn').style.display = 'none';
            document.getElementById('queueExistsMessage').style.display = 'block';
        } else {
            alert(`Failed to create queue: ${data.error}`);
        }
        hideLoader();
    });
    document.getElementById('registrationCard').style.display = 'block';
}

function markPatientAsDone(patientId, isOnsite = false) {
        showLoader();
        const url = isOnsite ? `/update_onsite_patient_status/${patientId}` : `/update_patient_status/${patientId}`;

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Patient marked as done.');
                refreshQueue(); // Fetch the full queue to include new onsite patients
                notifyPatients();
            } else {
                alert(`Failed to update patient status: ${data.error}`);
            }
            hideLoader(); // Ensure loader hides after response
        })
        .catch(error => {
            console.error('Error:', error);
            hideLoader(); // Hide loader in case of error
        });
    }

function refreshQueue() {
    // Fetch the updated queue with all Pending entries
    const date = document.getElementById('dateInput').value;
    const doctorId = document.getElementById('doctorSelect').value;
    const timeSlot = document.getElementById('timeSlotSelect').value;

    fetch(`/fetch_checked_in_patients?date=${date}&doctor_id=${doctorId}&time_slot=${timeSlot}`)
        .then(response => response.json())
        .then(data => {
            renderQueue(data.existingQueue); // Re-render the queue with latest data
        })
        .catch(error => console.error('Error fetching queue:', error));
}

function renderQueue(queue) {
    const queueContainer = document.getElementById('queueVisualization');
    queueContainer.innerHTML = '';

    queue.forEach(patient => {
        const circle = document.createElement('div');
        circle.classList.add('queue-circle');
        circle.dataset.patientId = patient.id;

        if (patient.type === 'Emergency') {
            circle.classList.add('queue-emergency');
        } else if (patient.type === 'Senior') {
            circle.classList.add('queue-senior');
        } else if (patient.type === 'On-site') {
            circle.classList.add('queue-onsite');
        }

        const displayName = patient.name;
        circle.innerHTML = `
            <div class="queue-number">${patient.queue_number}</div>
            <div class="patient-name">${displayName}</div>
        `;

        circle.addEventListener('click', () => {
            markPatientAsDone(patient.id, patient.type === 'On-site');
        });

        queueContainer.appendChild(circle);
    });
}


function registerPatient(event) {
        event.preventDefault();
        const patientName = document.getElementById('patientName').value;
        const patientAge = document.getElementById('patientAge').value;
        const patientEmail = document.getElementById('patientEmail').value;
        const date = document.getElementById('dateInput').value;
        const doctorId = document.getElementById('doctorSelect').value;
        const timeSlot = document.getElementById('timeSlotSelect').value;

        fetchMaxQueueNumber(date, doctorId, timeSlot).then(maxQueueNumber => {
            fetch('/register_patient', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    name: patientName,
                    email: patientEmail,
                    age: patientAge,
                    date: date,
                    doctor_id: doctorId,
                    time_slot: timeSlot,
                    queue_number: maxQueueNumber + 1
                })
            })
            .then(response => response.json())
            .then(data => {
                addPatientToQueueVisualization(data.queue_id, data.queue_number, data.onsite_name);
            })
            .catch(error => console.error('Error registering patient:', error));
        });
    }
    function addPatientToQueueVisualization(queueId, queueNumber, onsiteName) {
        const queueContainer = document.getElementById('queueVisualization');
        const circle = document.createElement('div');
        circle.classList.add('queue-circle', 'queue-onsite'); // Ensure correct class for onsite patients
        circle.dataset.queueId = queueId;

        circle.innerHTML = `
            <div class="queue-number">${queueNumber}</div>
            <div class="patient-name">${onsiteName}</div>
        `;
        
        circle.addEventListener('click', () => {
            markPatientAsDone(queueId, true); // Ensure the onsite patient is correctly marked as done
        });
        
        queueContainer.appendChild(circle);
    }

</script>

<style>
    .queue-box, .waiting-list-box {
        background-color: #f9f9f9; /* Light background for better contrast */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    }
    .queue-waiting {
        background-color: #FFC0CB; /* Pink for waiting list */
        color: white;
    }
    .queue-circle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px; /* Slightly larger for better visibility */
        height: 100px;
        border-radius: 50%;
        background-color: #4CAF50; /* Default color */
        color: white;
        font-size: 16px;
        font-weight: bold;
        margin: 15px;
        cursor: pointer;
        transition: transform 0.3s, background-color 0.3s;
        border: 2px solid white; /* White border for better visibility */
    }
    
    .queue-circle:hover {
        background-color: #38878e;
        transform: scale(1.1);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    }
    
    .queue-senior {
        background-color: #c6b62a; /* Dark yellow for senior citizens */
        color: #3E2723;
    }
    
    .queue-emergency {
        background-color: #FF0000; /* Red for emergency cases */
        color: white;
    }

    .queue-onsite{
        background-color: #cf2e9c; /* Red for emergency cases */
        color: white;
    }
    
    .queue-number {
        font-size: 24px; /* Larger number for better visibility */
        font-weight: bold;
    }
    
    .patient-name {
        font-size: 14px; /* Slightly larger font */
        font-weight: bold;
        color: #333; /* Darker text for better readability */
        text-align: center;
        margin-top: 5px;
    }
</style>

{% endblock %}
