{% extends "layout.html" %}

{% block content %}
<h2>View Appointments</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Appointment Code</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor.name }}</td>
            <td>{{ appointment.appointment_date.strftime('%d-%m-%Y') }}</td>
            <td>{{ appointment.time_slot }}</td>
            <td>{{ appointment.appointment_code }}</td>
            <td>{{ appointment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
