{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        href="{{ url_for('user_bp.dashboard') }}">Home</a></li>
                <li class="breadcrumb-item">Users</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div
                        class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img
                            src="{{ url_for('static', filename=user.profile_image) }}"
                            alt="Profile" class="rounded-circle">
                        <h2>{{ user.name }}</h2>
                        <h3>{{ user.job }}</h3>
                        <div class="social-links mt-2">
                        
                            <a href="{{ user.facebook }}" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="{{ user.instagram }}" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="{{ user.linkedin }}" class="linkedin"><i
                                    class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-edit">Edit
                                    Profile</button>
                            </li>
                            
                        </ul>
                        <div class="tab-content pt-2">
                            <div
                                class="tab-pane fade show active profile-overview"
                                id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Full
                                        Name</div>
                                    <div class="col-lg-9 col-md-8">{{ user.name
                                        }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Company</div>
                                    <div class="col-lg-9 col-md-8">{{
                                        user.company }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Job</div>
                                    <div class="col-lg-9 col-md-8">{{ user.job
                                        }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Country</div>
                                    <div class="col-lg-9 col-md-8">{{
                                        user.country }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">{{
                                        user.address }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">{{ user.phone
                                        }}</div>
                                </div>
                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">{{ user.email
                                        }}</div>
                                </div>
                            </div>

                            <div class="tab-pane fade profile-edit pt-3"
                                id="profile-edit">
                                <form method="POST"
                                    action="{{ url_for('profile') }}"
                                    enctype="multipart/form-data">
                                    <div class="row mb-3">
                                        <label for="profileImage"
                                            class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img
                                                src="{{ url_for('static', filename=user.profile_image) }}"alt="Profile" class="rounded-circle" id="profile-img">
                                            <div class="pt-2">
                                                <label for="upload"
                                                    style="background-color: white;border: solid orangered ;border-radius:10px; border-width: 1px;"
                                                    class="btn btn-primary btn-sm"
                                                    title="Upload new profile image">
                                                    <i style="color: orangered;"
                                                        class="bi bi-upload"><h10 style="font-weight: lighter;font-size:small;"> Upload Image</h10></i>
                                                    <input type="file"
                                                        name="upload"
                                                        id="upload"
                                                        accept=".jpg, .jpeg, .png"
                                                        style="display: none;">
                                                    
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="fullName"
                                            class="col-md-4 col-lg-3 col-form-label">Full
                                            Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="name" type="text"
                                                class="form-control" id="name"
                                                value="{{ user.name }}">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="company"
                                            class="col-md-4 col-lg-3 col-form-label">Company</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="company" type="text"
                                                class="form-control"
                                                id="company"
                                                value="{{ user.company }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Job"
                                            class="col-md-4 col-lg-3 col-form-label">Job</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text"
                                                class="form-control" id="job"
                                                value="{{ user.job }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Country"
                                            class="col-md-4 col-lg-3 col-form-label">Country</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="country" type="text"
                                                class="form-control"
                                                id="country"
                                                value="{{ user.country }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Address"
                                            class="col-md-4 col-lg-3 col-form-label">Address</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="address" type="text"
                                                class="form-control"
                                                id="address"
                                                value="{{ user.address }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Phone"
                                            class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text"
                                                class="form-control" id="phone"
                                                value="{{ user.phone }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Email"
                                            class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email"
                                                class="form-control" id="email"
                                                value="{{ user.email }}">
                                        </div>
                                    </div>
                                    
                                    <div class="row mb-3">
                                        <label for="Facebook"
                                            class="col-md-4 col-lg-3 col-form-label">Facebook
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="facebook" type="text"
                                                class="form-control"
                                                id="facebook"
                                                value="{{ user.facebook }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Instagram"
                                            class="col-md-4 col-lg-3 col-form-label">Instagram
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="instagram" type="text"
                                                class="form-control"
                                                id="instagram"
                                                value="{{ user.instagram }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Linkedin"
                                            class="col-md-4 col-lg-3 col-form-label">Linkedin
                                            Profile</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="linkedin" type="text"
                                                class="form-control"
                                                id="linkedin"
                                                value="{{ user.linkedin }}">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit"
                                            class="btn btn-primary">Save
                                            Changes</button>
                                    </div>
                                </form><!-- End Profile Edit Form -->
                                <script>
                                    document.getElementById('upload').addEventListener('change', function() {
                                        const file = this.files[0];
                                        if (file) {

                                            // Optional: Preview the image before uploading
                                            const fileReader = new FileReader();
                                            fileReader.onload = function(e) {
                                                document.getElementById('profile-img').src = e.target.result;
                                            };
                                            fileReader.readAsDataURL(file);
                                        }
                                    });
                                </script>
                               <!-- <script>
                                    // JavaScript to handle the file upload
                                    document.getElementById('upload').addEventListener('change', function() {
                                        const fileName = this.files[0].name;
                                        const label = document.querySelector('label[for="upload"]');
                                        label.textContent = `File: ${fileName}`;
                                        
                                        // Optional: Preview the image before uploading
                                        const fileReader = new FileReader();
                                        fileReader.onload = function(e) {
                                            document.getElementById('profile-img').src = e.target.result;
                                        };
                                        fileReader.readAsDataURL(this.files[0]);
                                    });
                                </script>-->
                            </div>

                            

                        
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

{% endblock %}

<!--

cur = mysql.connection.cursor()
        cur.execute("SELECT * FROM user WHERE email = %s", [email])
        user = cur.fetchone()
        cur.close()






if user:
            stored_hash = user[3]
            logging.debug(f'Stored hash for user: {stored_hash}')
            if bcrypt.check_password_hash(stored_hash, password):
                session['user'] = email
                logging.debug('Regular user login successful.')
                return render_template('user_dashboard/index.html', params=config_params, user=current_user)
            else:
                logging.debug('Password hash check failed.')
        else:
            logging.debug('User not found.')

        flash('Invalid email or password', 'danger')
        return redirect(url_for('signin'))

    return render_template('signup.html', params=config_params)
    
    
    
    
    
    
    
    
    
    
    
    
    
     cur = mysql.connection.cursor()
        cur.execute("INSERT INTO user (name, email, password) VALUES (%s, %s, %s)", (name, email, hashed_password))
        mysql.connection.commit()
        cur.close()
        flash('Account created successfully! Please log in.', 'success')
        return redirect(url_for('signin'))-->